.images{
    max-width: 500px;
}
body{
    background-color: #ffcc33 ;
    color: rgb(15, 14, 14);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
*{
    border-radius: 8px;
}